---
title: Schedule
layout: default
---

<h1>Schedule</h1>
<table>
    <thead>
        <tr>
            <td>Session</td><td>Reading</td><td>Topics</td><td>Materials</td>
        </tr>
    </thead>
    <tbody>
      {% assign stuff = site.data.date_convert | concat: site.data.assignments | sort: "date" %}
      {% for session in stuff %}

      {% if session.type == "class_session" %}
      {% if site.data.schedule[session.class_num] %}
      {% assign event = site.data.schedule[session.class_num] %}

      <tr {% if event.bgcolor %} bgcolor="#{{event.bgcolor}}" {% endif %} >
        <td>
          {{ session.class_num }} <br/> {{ session.date | date: "%a %d %b %Y" }}
        </td>
          <td>
              {{event.reading | join: "<br/>"}}
          </td>
          <td>
              {{event.topics | join: "<br/>"}}
          </td>
          <td>
              {% for material in event.materials %}
              <a href="{{ site.github.repository_url }}/tree/master/ClassMaterials/{{ material }}">{{event.materials}}</a><br/>
              {% endfor %}
              {{event.other | join: "<br/>"}}
          </td>

      </tr>
      {% else %} <!-- we have a class but it's not is schedule.yml -->
      <tr>
        <td>
          {{ session.class_num }} <br/> {{ session.date | date: "%a %d %b %Y" }}
        </td>
        <td>
          ?? <!-- maybe add class {{ session.class_num }} to schedule.yml -->
        </td>
      </tr>
      {% endif %}
      {% else %}
            <tr bgcolor="#ddf" >
        <td colspan="4">
          <a href="{{ site.github.repository_url }}/tree/master/Homework/{{ session.dirname }}">{{session.name}}</a> DUE {{ session.date | date: "%a %d %b %Y %l:%M %P" }}
          {% if session.grader %} <font color="#aaa">grader: {{session.grader}}@</font> {% endif %} 
        </td>
      </tr>

      {% endif %}

      {% endfor %}
    </tbody>
</table>
    
