---
title: CSSE220 Schedule
layout: default
---

<h1>Schedule</h1>
<table>
    <thead>
        <tr>
            <td>Session</td><td>Reading</td><td>Topics</td><td>Materials</td>
        </tr>
    </thead>
    <tbody>
      {% for event in site.data.schedule %}
      <tr {% if event.bgcolor %} bgcolor="#{{event.bgcolor}}" {% endif %} >
        <td>
          {{ event.session_no }} <br/> {{site.data.date_convert[event.session_no] | date: "%a %d %b %Y" }}
        </td>
          <td>
              {{event.reading | join: "<br/>"}}
          </td>
          <td>
              {{event.topics | join: "<br/>"}}
          </td>
          <td>
              <a href="{{ site.github.repository_url }}/tree/master/ClassMaterials/{{ event.materials }}">{{event.materials}}</a><br/>
              {{event.other | join: "<br/>"}}
          </td>

      </tr>
      {% endfor %}
    </tbody>
</table>
    
